src/main/resources/META-INF/customTag.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://www.example.org/customTag/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.example.org/customTag/">
	<xsd:complexType name="jedis">
    <xsd:attribute>
    <
    </xsd:attribute>
	</xsd:complexType>
	<!--  host 为必须-->
	<xsd:attribute name="host" type="string" use="required"></xsd:attribute>
	<!--  port 非必须，默认端口6379  -->
	<xsd:attribute name="port" type="string" default="6379"></xsd:attribute>
	<!--  password非必须-->
	<xsd:attribute name="password" type="string"></xsd:attribute>
	<!--  timeout非必须 -->
	<xsd:attribute name="timeout" type="string" ></xsd:attribute>
	
</xsd:schema>

<customerTag:jedis host="" port="" password="" timeout="">
    <customerTag:jedispool>
       <maxIdle></maxIdle>
       <maxTotal></maxTotal>
       <testOnBorrow></testOnBorrow>
    </customerTag:jedispool>
</customerTag:jedis>